body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100vh;
}

.vc-container-unique {
  max-width: 1100px;
  margin: 25px auto;
  height: 90vh;
  display: flex;
  flex: 1;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  padding: 8px;
  border-radius: 16px;
}

.vc-btnContainer {
  display: flex !important;
  margin-top: 8px !important;
  justify-content: center;
  gap: 20px;
}

.chatstyle {
  width: 480px;
  padding-left: 8px;
}

.headTab {
  display: flex;
  gap: 15px;
  align-items: baseline;
}

.btnBack {
  cursor: pointer;
  color: rgb(74 71 71 / 43%);
  border-radius: 10px;
  background: rgb(241 241 241);
  padding: 10px 10px 15px;
  font-size: 19px;
  line-height: 10px;
}

.vc-heading {
  text-align: center;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 500;
}

.vc-localbtns {
  border: 1px solid rgb(151 148 148);
  border-radius: 50%;
  background-color: #ffffff;
  padding: 8px 9px 6px;
  z-index: 99;
  cursor: pointer;
  color: black;
  position: relative
}

.vc-localbtns:hover,
.vc-localbtns:active,
.vc-localbtns:focus {
  background-color: #ffffff;
  color: black;
}

.remotebtns {
  padding: 3px 5px 0px;
}

.remotemute {
  padding: 7px 6px;
}

.remotebtnsinfo {
  position: absolute;
  z-index: 99;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  transform: translate(0px, -25px);
  transition: 0.5s;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
}

.remotebtnsinfo button {
  border-radius: 10px;
  color: #ffffff;
  background: rgb(15, 114, 237);
  cursor: pointer;
  border: none;
}

.focusview {
  height: 100%;
  display: flex;
  gap: 10px;
  /* margin: 0 70px 0 260px; */
}

.focuslocal {
  height: 100%;
  width: calc(100% - 300px);
  overflow: hidden;
  border-radius: 15px;
  position: relative;
}

.focuslocal2 {
  height: 100%;
  width: calc(100% - 125px);
  overflow: hidden;
  border-radius: 15px;
  position: relative;
}

.focusremote {
  height: 100%;
  /* width: 300px !important; */
  overflow: auto;
  margin: 0 70px 0 0px;
}

.activeremoteplayer {
  box-sizing: border-box;
  border: 4px solid #3b9a3b !important;
}

.remoteplayer {
  height: 200px;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  border-radius: 30px;
}

.remoteplayer2 {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.vc-username {
  position: absolute;
  right: 15px;
  bottom: 10px;
  z-index: 99;
  color: #ffffff;
  background: #1a191999;
  padding: 0px 6px 3px;
  border-radius: 10px;
  transform: translate(0px, 25px);
  transition: 0.5s;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
}

.gridlocal {
  height: 100%;
  overflow: hidden;
}

.gridlocal:hover .vc-username {
  visibility: visible;
  opacity: 1;
  z-index: 99;
  transform: translate(0px, 0px);
}

.focuslocal:hover .vc-username {
  visibility: visible;
  opacity: 1;
  z-index: 99;
  transform: translate(0px, 0px);
}

.remoteplayer:hover .vc-username {
  visibility: visible;
  opacity: 1;
  z-index: 99;
  transform: translate(0px, 0px);
}

.remoteplayer2:hover .vc-username {
  visibility: visible;
  opacity: 1;
  z-index: 99;
  transform: translate(0px, 0px);
}

.local-focus-img {
  background-color: #ffffff;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-focus-local {
  width: 200px;
  border: 1px solid black;
  height: 200px;
  border-radius: 50%;
}

.local-grid-img {
  background-color: #ffffff;
  height: 100%;
  position: relative;
}

.img-grid-local {
  width: 180px;
  border: 1px solid black;
  height: 180px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grid-remote-img {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  position: relative;
}

.img-remote-grid {
  height: 180px;
  width: 180px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.focus-remote-img {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.img-remote-focus {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  border-radius: 50%;
}

.unread-chat2 {
  position: relative;
}

.unread-chat {
  background: #ff0000;
  border-radius: 100%;
  position: absolute;
  top: -5px;
  left: unset !important;
  right: -5px !important;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  min-width: 17px;
  min-height: 17px;
}

.focuslocal:hover .remotebtnsinfo {
  visibility: visible;
  opacity: 1;
  z-index: 99;
  transform: translate(0px, 0px);
}

.remoteplayer:hover .remotebtnsinfo {
  visibility: visible;
  opacity: 1;
  z-index: 99;
  transform: translate(0px, 0px);
}

.remoteplayer2:hover .remotebtnsinfo {
  visibility: visible;
  opacity: 1;
  z-index: 99;
  transform: translate(0px, 0px);
}

.remoteplayer:last-child {
  padding-bottom: 0px;
}

.chat-list2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chat-list2 ul li {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  background: #f4f5f6;
  position: relative;
}

.chat-list2 ul li .chat-list-thumb2 {
  margin-right: 10px;
}

.chat-list2 ul li .chat-list-thumb2 img {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  object-fit: cover;
  object-position: top;
}

.chat-list2 ul li .chat-list-name2 {
  flex: 1;
}

.chat-list2 ul li .chat-list-name2 h4 {
  margin: 0;
  font-size: 14px;
}

.chat-list2 ul li .chat-list-name2 span {
  font-size: 13px;
  color: #999;
}

.chat-list2 ul li .chat-list-delete2 {
  position: relative;
}

.chat-list2 ul li .chat-list-delete2 .chat-list2-action {
  position: absolute;
  right: 50%;
  top: 100%;
  background: #fff;
  box-shadow: 0 0 5px 1px #eee;
  border-radius: 3px;
  min-width: 120px;
  z-index: 2;
}

.chat-list2 ul li .chat-list-delete2 .chat-list2-action button {
  padding: 7px 14px;
  font-size: 14px;
}

.chat-box-header2 {
  padding: 14px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px 10px 0 0;
  background: rgb(237, 240, 245);
  justify-content: space-between;
}

.chat-box-header2 img {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  object-fit: cover;
  object-position: top;
}

.chat-box-header2 h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.chat-box-header2 svg {
  font-size: 22px;
  color: #333;
}

.chat-box2 .chat-box-area2 .msger_chat {
  height: calc(100vh - 205px) !important;
  overflow: auto;
  background: rgb(237, 240, 245);
}

.chat-box2 .chat-box-area2 .msger_chat>button {
  display: none;
}

.chat-box2 .chat-box-area2 ul {
  padding: 0 15px;
  margin: 0;
}

.chat-box2 .chat-box-area2 ul li span {
  font-size: 10px;
  font-weight: 500;
  margin-bottom: -9px;
  display: block;
}

.chat-box2 .chat-box-area2 ul li.rightchat {
  max-width: 85%;
  float: right;
}

.chat-box2 .chat-box-area2 ul li.leftchat {
  display: flex;
  align-items: flex-end;
  gap: 3px;
}

.chat-box2 .chat-box-area2 ul li {
  list-style: none;
  clear: both;
}

.chat-box2 .chat-box-area2 ul li .chatmsg {
  padding: 7px 14px 9px 14px;
  width: 100%;
  font-size: 13px;
  color: #666;
  word-break: break-word;
}

.chat-box2 .chat-box-area2 ul li .chat-right2 {
  font-weight: 500;
  color: #111;
  width: auto;
  background: rgb(204, 212, 225);
  border: 4px solid rgb(237, 240, 245);
  border-radius: 22px 22px 0px 22px
}

.chat-box2 .chat-box-area2 ul li .chat-left2 {
  font-weight: 500;
  color: #111;
  width: auto;
  background: #fff;
  border: 4px solid rgb(237, 240, 245);
  border-radius: 22px 22px 22px 0px
}

.chat-box2 button {
  padding: 7px 14px;
  font-size: 14px;
}

.chat-box2 input {
  font-size: 14px;
}

.chat-box2 .chat-box-footer2 {
  /* border-top: solid 1px #ddd; */
  padding: 5px 15px 10px;
  border-radius: 0 0 10px 10px;
  background: rgb(237, 240, 245);
}

.chat-box2 .chat-box-footer2 form {
  margin: 0;
}

.chat-box2 .chat-box-footer2-btn {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
}

.chat-box2 .chat-box-footer2-btn input {
  border: none;
  border-bottom: solid 1px #ddd;
  border-radius: 10px;
  width: 100%;
  padding: 18px;
}

.chat-box2 .chat-box-footer2-btn input:focus {
  box-shadow: none;
  border-color: #86b7fe;
}

.nav2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #80808047;
  padding-bottom: 10px;
}

@media (min-width: 767px) {
  .showButton {
    display: none;
  }
}

@media (max-width: 767px) {
  .focusview {
    flex-direction: column-reverse;
  }

  .focuslocal {
    height: 100%;
    width: 100%;
  }

  .focusremote {
    height: 206px;
    width: 100%;
    overflow: auto;
    display: flex;
    gap: 10px;
    margin: 0;
    flex-direction: row;
  }

  .remoteplayer {
    height: 140px;
    max-width: 150px;
    width: 100%;
    overflow: hidden;
    min-width: 150px;
    margin: 0;
  }

  .d-md-flex {
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
    margin: 25px auto;
    height: 90vh !important;
    z-index: 999;
    padding: 0 !important;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    border-radius: 16px;
  }

  .vc-btnContainer {
    justify-content: space-around;
    gap: 0;
  }

  .chat-box2 .chat-box-area2 .msger_chat {
    height: calc(90vh - 124px) !important;
  }

  .nav2 {
    display: none;
  }
}